/* ===============fonts============= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ==============common classes============= */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.container {
  width: 1080px;
  margin-top: 70px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===================banner============= */
.banner {
  background-color: #2d25a0;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}
.banner-txt {
  /* background-color: red; */
  width: 485px;
  margin-right: 102px;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-bottom: 27px;
}
.banner-btn {
  padding: 10px 24px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  background-color: #e02c6d;
  border-color: transparent;
  transition: all 0.5s linear;
}
.banner-btn i {
  margin-left: 8px;
}
.banner-btn:hover {
  background-color: #fff;
  color: #e02c6d;
}
.banner-img {
  /* background-color: rosybrown; */
  width: 500px;
  position: relative;
}
.banner-player {
  height: 285px;
  width: 290px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: transform 0.1s ease-in;
}
.banner:hover .banner-player {
  transform: rotate(30deg);
  /* transform-origin: top right; */
}
.banner-football {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 218px;
  top: 160px;
  transition: transform 0.4s ease-out 0.1s;
}
.banner:hover .banner-football {
  transform: translateY(-150px);
}
/* ==============player============= */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 45px;
}
.player {
  width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img {
  width: 300px;
  height: 256px;
}
.player-details {
  width: 300px;
}
.player-name {
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player-info {
  font-size: 16px;
  color: #6c6c6c;
  margin-top: 0;
}
/* ==================football news========== */
.news-title {
  font-weight: 700;
  color: #000;
  font-size: 24px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.football-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.news {
  width: 300px;
  padding: 20px;
  display: flex;
}
.news-img img {
  height: 100px;
  width: 120px;
  border-radius: 10px;
}
.news-info {
  margin-left: 15px;
}
.news-headline {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: all 0.5s linear;
  margin-bottom: 30px;
}
.news-headline:hover {
  color: #2d25a0;
}
.news-icon {
  font-size: 12px;
  color: #333;
}
.news-icon a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  margin-left: 4px;
}

/* ================highlights================ */
.football-highlight {
  padding: 60px 60px;
  background-color: #2d25a0;
  text-align: center;
  margin-top: 100px;
}
.section-title {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}
.highlights {
  display: flex;
  justify-content: center;
}
.other-highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 14px;
  grid-column-gap: 20px;
  margin-left: 20px;
}
iframe {
  border-radius: 10px;
}

/* ===============footer================== */
.footer-content {
  width: 483.87px;
  height: 213px;
  margin: 0 auto;
  margin-bottom: 63px;
  margin-top: 100px;
  text-align: center;
}
.footer-logo {
  width: 483.87px;
  height: 110px;
  margin-bottom: 20px;
}
.footer-icon {
  display: flex;
  justify-content: center;
}
.icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e2e2e2;
  padding: 8px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon a {
  text-decoration: none;
}
.icon a i {
  font-size: 18px;
  color: #6c6c6c;
  transition: all 0.5s linear;
}
.icon:hover a i {
  font-size: 22px;
  color: #000;
}
.footer-copyright {
  font-size: 18px;
  font-weight: 400px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0;
}

/* https://sports.ndtv.com/football */
