/* ===============fonts============= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ==============common classes============= */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.container {
  width: 1080px;
  margin-top: 70px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===================banner============= */
.banner {
  background-color: #2d25a0;
  display: flex;
  justify-content: center;
}
.banner-content {
  width: 1080px;
  display: flex;
  justify-content: center;
  padding: 86px 0;
}
.banner-txt {
  width: 55%;
  margin-right: 102px;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #fff;
  margin-bottom: 27px;
}
.banner-btn {
  padding: 10px 24px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  background-color: #e02c6d;
  border-color: transparent;
  transition: all 0.5s linear;
}
.banner-btn i {
  margin-left: 8px;
}
.banner-btn:hover {
  background-color: #fff;
  color: #e02c6d;
}
.banner-img {
  width: 45%;
}
.banner-img img {
  width: 556.01px;
  height: 438px;
}
.banner:hover .banner-img img {
  transform: scale(1.2);
  transition: transform 0.6s ease-in-out;
}
/* ==============player============= */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 60px;
  grid-column-gap: 45px;
}
.player {
  width: 300px;
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img {
  width: 300px;
  height: 256px;
}
.player-details {
  width: 300px;
}
.player-name {
  font-size: 28px;
  font-weight: 700;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player-info {
  font-size: 16px;
  color: #6c6c6c;
  margin-top: 0;
}
/* ==================football news========== */
.news-title {
  font-weight: 700;
  color: #000;
  font-size: 30px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.football-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.news {
  width: 300px;
  padding: 20px;
  display: flex;
}
.news-img img {
  height: 100px;
  width: 120px;
  border-radius: 10px;
}
.news-info {
  margin-left: 15px;
}
.news-headline {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: all 0.5s linear;
  margin-bottom: 30px;
}
.news-headline:hover {
  color: #2d25a0;
}
.news-icon {
  font-size: 12px;
  color: #333;
}
.news-icon a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
  margin-left: 4px;
}

/* ================highlights================ */
.football {
  text-align: center;
  background-color: #2d25a0;
  padding-top: 20px;
  margin-top: 70px;
}

.section-title {
  font-weight: 700;
  color: #fff;
  font-size: 30px;
}
.highlights {
  padding: 60px 60px;
  width: 1088px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.final-highlight {
  width: 60%;
}
.other-highlight {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 14px;
  grid-column-gap: 20px;
  margin-left: 20px;
}
iframe {
  border-radius: 10px;
}

/* ===============footer================== */
.footer-content {
  width: 1088px;
  margin: 0 auto;
  margin-bottom: 63px;
  margin-top: 100px;
  text-align: center;
}
.footer-logo {
  width: 483.87px;
  height: 110px;
  margin-bottom: 20px;
}
.footer-icon {
  display: flex;
  justify-content: center;
}
.icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e2e2e2;
  padding: 8px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon a {
  text-decoration: none;
}
.icon a i {
  font-size: 18px;
  color: #6c6c6c;
  transition: all 0.5s linear;
}
.icon:hover a i {
  font-size: 22px;
  color: #000;
}
.footer-copyright {
  font-size: 18px;
  font-weight: 400px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0;
}

/* ====================================
       responsive css
   ==================================== */

/* mobile device */
@media only screen and (max-width: 688px) {
  /* ===========banner===== */
  .banner-content {
    width: 100%;
    flex-direction: column;
    /* align-items: center; */
  }
  .banner-txt {
    margin-right: 0px;
    margin-left: 16px;
  }
  .banner-title {
    font-size: 36px;
  }
  .banner-img {
    margin-top: 50px;
  }
  .banner-img img {
    width: 300px;
    height: 230px;
  }
  /*======= player=========== */
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 14px;
  }

  /* ================football news======== */
  .football-news {
    grid-template-columns: repeat(1, 1fr);
  }
  .news-title {
    font-size: 18px;
    margin-top: 70px;
  }
  .news {
    flex-direction: column;
    align-items: center;
  }
  .news-info {
    text-align: center;
  }

  /* ================highlights============== */

  .section-title {
    font-size: 18px;
  }
  .highlights {
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin-top: 50px;
  }

  .other-highlight {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 0;
  }
  .final-highlight iframe {
    width: 200px;
    height: 200px;
  }

  /*  ===========footer================ */
  .footer-content {
    width: 100%;
    margin-top: 54px;
  }
  .footer-logo {
    width: 150px;
    height: 63px;
  }

  .icon {
    height: 26px;
    width: 26px;
  }
  .icon a i {
    font-size: 16px;
  }
}
/* =========tablet device========== */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  /* banner */
  .banner-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .banner-txt {
    margin-right: 0px;
    margin-left: 16px;
  }
  .banner-title {
    font-size: 46px;
  }
  .banner-img {
    margin-top: 50px;
  }
  .banner-img img {
    width: 400px;
    height: 330px;
  }
  /* player & news */
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .players,
  .football-news {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20px;
    padding-left: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
  }

  /* ================highlights============== */

  .section-title {
    font-size: 30px;
  }
  .highlights {
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
    margin-top: 50px;
  }

  .other-highlight {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .final-highlight iframe {
    width: 400px;
    height: 400px;
  }

  /*  ===========footer================ */
  .footer-content {
    width: 100%;
    margin-top: 54px;
  }
  .footer-logo {
    width: 250px;
    height: 100px;
  }

  .icon {
    height: 26px;
    width: 26px;
  }
  .icon a i {
    font-size: 16px;
  }
}
